
body, html {
margin:0px; /*Это хорошая практика обнулять поля и отсупы, т.к. различные браузеры их по разному воспринимают. */
padding:0px;
text-align:center; /*Выравниваем макет по центру в старых версиях браузеров */
}
/*Определяем стиль ссылок*/

a:link {
 font-size:20px; color:yellow; text-decoration:none; font-weight: bold;
}
a:visited {
color:yellow;
}
a:hover {
color:red ;
text-decoration:none;
font-weight:bold;
}
a:active {
color:green;
text-decoration:none;
}

#container{
margin:0 auto;  /*выравниваем макет по центру в современных браузерах */
text-align:left;  /*Отменяем tex-align:center заданное в Body. Делаем чтобы весь текст в макете выравнивался по левому краю */
min-width:1500px;  /*задаем минимальную ширину макета в современных браузерах */
width:expression(   /*задаем минимальную ширину макета в старых версия браузера. Просто замените цифру на свою шиирину :) */
(document.compatMode && document.compatMode == 'CSS1Compat')
?
(
document.documentElement.clientWidth < 550
?
"550px"
:
"auto"
)
:
(
document.body.clientWidth < 550
?
"550px"
:
"auto"
)
);
}

/*Здесь пишем стили для шапки сайта */
#header{
background-color:#0355FF;
}
#header h1 {
	margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
	padding: 1px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 60px;
	color: #E6B448;
}
#header h2 {
	margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
	padding: 1px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 36px;
	color: #E6B448;
}
#header p {
	margin: 0; /* Обнуляем отсупы для параграфов, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков.  */
	padding: 1px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
	color: #E6B448;
}
/*Здесь пишем стили для левой колонки сайта */
#left{
background-color:#0355FF;
width:270px;  /*ширина колонки */
float:left;  /*обязательное выравнивание по левому краю,с включением обтекания*/
}
#left p {
margin:0px; /* Обнуляем отсупы для параграфов, находящегося в блоке левой колонки.*/
padding:5px; /*задаем поля, т.е. чтобы был промежуток между строками, чтобы было понятно, что это параграф :)*/
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 14px;
	color: #E6B448;
}
#left h3 {
margin:0px; /* Обнуляем отсупы для параграфов, находящегося в блоке левой колонки.*/
padding:5px; /*задаем поля, т.е. чтобы был промежуток между строками, чтобы было понятно, что это параграф :)*/
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
	color: #E6B448;
	text-indent: 40px;
}

/*Здесь пишем стили для блока контента */
#content{
background-color:#FFFFFF;
margin:0px; /*обнуляем отступы сверху и снизу*/
margin-left:270px; /*обязательный отступ слева, должен быть немного больше ширины левой колонки */
}
#content h1 {
margin:0px; /* Обнуляем отсупы для заголовка первого уровня, находящегося в блоке контента.*/
padding:5px; /*задаем поля, т.е. чтобы был промежуток между строками, чтобы было понятно, что это параграф :)*/
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-style:oblique;
	font-size: 20px;
	color: #092A4B;
	text-indent: 40px;
} 
#content h2 {
margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
padding:5px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 26px;
	color: #31849B;
	text-indent: 40px;
	text-align: justify;
}
#content h3 {
margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
padding:5px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
	color: #092A4B;
	text-indent: 40px;
	text-align: justify;
}
#content h4 {
margin: 0; /* Обнуляем отсупы для заголовка первого уровня, находящегося в шапке. Это нужно обязательно делать, при использовании заголовков. Если используются параграфы, то тоже нужно обнулить отсупы для них. */
padding:5px 0; /* Задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 22px;
	color: #092A4B;
	text-indent: 40px;
	text-align: justify;
}
#content p {
margin:0px; /* Обнуляем отсупы для параграфов, находящегося в блоке контента.*/
padding:5px; /*задаем поля, т.е. чтобы был промежуток между строками, чтобы было понятно, что это параграф :)*/
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 18px;
	color: #092A4B;
	text-indent: 40px;
}


/*атрибут, который опускает подвал сайта ниже всех блоков. Нужен для корректной работы макета. */
#clear{
height:0;
font-size:1px;
line-height:0px;
clear:both;
}
/*Здесь пишем стили для подвала сайта */
#footer{
background-color:#0355FF;
}
#footer p{
margin:0px;  /* обнуляем отступы*/
padding: 5px 0; /*  задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
#footer h3{
margin:0px;  /* обнуляем отступы*/
padding: 5px 0; /*  задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 24px;
	color: #FF9999;
	text-indent: 40px;
}
#footer h4{
margin:0px;  /* обнуляем отступы*/
padding: 5px 0; /*  задаем поля */
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 22px;
	text-indent: 40px;
	text-align:justify;
	color: yellow;
}

